<details>
    <summary>{{MORE}}</summary>
    <label>{{USERNAME}}: <input id="prop-username" type="text" /></label>
    <label>{{PASSWORD}}: <input id="prop-password" type="password" /></label>

    <label>Proxy: <input id="prop-proxy" type="checkbox" /></label>
    <label>
        {{STATIC_OPEN_MEDIA_PREVIEW_AUTOMATICALLY_16SZX1O}}:
        <select id="openEnclosure">
            <option value="global">{{USE_GLOBAL_SETTING}}</option>
            <option value="yes">{{STATIC_YES_1DUDZCG}}</option>
            <option value="no">{{STATIC_NO_R5WQAI}}</option>
        </select>
    </label>
    <label>
        {{STATIC_DEFAULT_VIEW_1YHRPIR}}:
        <select id="defaultView">
            <option value="global">{{USE_GLOBAL_SETTING}}</option>
            <option value="feed">{{STATIC_CONTENT_FROM_FEED_1RU9T9A}}</option>
            <option value="mozilla">{{STATIC_PARSE_WEBSITE_4CUQJ5}}</option>
        </select>
    </label>
</details>
